html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.hidden {
    display: none;
    transition: all 1.5s ease;
}

.no-border {
    border: 0 !important;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 200px;
    z-index: 99999;
    background-color: rgb(0,0,0,.5);
}

#loading > .spinner-border {
    width: 3rem;
    height: 3rem;
}

#loading > .spinner-border > .visually-hidden, #loading > .spinner-border > .visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    margin: -1px!important;
    overflow: hidden!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    border: 0!important;
}

/* Header */

#top-logo {
    width: 70%;
    height: auto;
    padding-left: 1.4rem;
    transition: width 0.5s ease;
}

.shrink-logo {
    width: 50% !important;
}

.navbar-brand {
    transition: all 0.5s ease;
}

.shrink-navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.collapse {
    padding-top: 0 !important;
}

#top-bar {
    border-bottom: 1px solid #efefef;
}

#top-bar > nav {
    background-color: #fff !important;
}

#top-bar > nav > div > .navbar-nav > .nav-item > .nav-link {
    font-family: 'Philosopher', sans-serif !important;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
    padding-top: 0;
    padding-bottom: 0;
}

#top-bar > nav > .social-media-nav > .nav-item > .nav-link, #top-bar > div > div > div > .social-media-nav > .nav-item > .nav-link {
    font-size: 1.3rem;
    padding-right: 1.4rem;
    padding-left: 1.4rem;
    padding-top: 0;
    padding-bottom: 0;
}

.social-media-nav > .nav-item > .nav-link {
    color: rgba(0,0,0,0.5);
}

.social-media-nav > .nav-item > .nav-link:hover, .social-media-nav > .nav-item > .nav-link:focus {
    color: rgba(0,0,0,0.7);
}

.search-container > input, .search-container > input:focus {
    border-radius: 0 !important;
    border-color: #CAC4B4 !important;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 1rem .75rem !important;
}

.search-container > #dvsha-search {
    border-radius: 0 !important;
    border-color: #CAC4B4 !important;
    background-color: #CAC4B4 !important;
    color: #fff;
    cursor: pointer;
}

/* Intro */

#intro > .row:not(:last-child) > .col {
    background-position: center bottom;
    background-size: cover;
    min-height: 400px;
    margin-top: 100px;
}

#intro > .row:last-child > .col {
    min-height: 300px;
}

.dvsha-logo {
    position: absolute;
    top: -350px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 400px;
    z-index: 100;
}

.dvsha-logo > h1 > img {
    width: 100%;
    height: auto;
}

.intro-text {
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.intro-text > h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #EA4A7F;
    letter-spacing: .15rem;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
    line-height: 2.5rem;
    margin-bottom: 20px;
}

.intro-text > p {
    font-weight: bold;
    margin-bottom: 20px;
}

.intro-text > p:nth-last-of-type(1) {
    margin-bottom: 30px;
}

/* Giveaway */

.winners-header {
    background-position: center center;
    background-size: cover;
    /* min-height: 350px; */
    font-family: 'Philosopher', sans-serif;
    font-size: 2rem;
    text-align: center;
    /* padding-top: 150px; */
    text-transform: uppercase;
    padding: 50px 0;
}

.giveaway-content, .giveaway-title {
    text-align: center;
}

.giveaway-content > .prizes {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}

.giveaway-content > .prizes > span > span {
    color: #EA4A7F;
}

.giveaway-content > .text {
    font-family: 'Poppins', sans-serif;
    font-size: .85rem;
    margin-bottom: 30px;
}

.giveaway-title > h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 2.5rem;
}

.giveaway-btn {
    background-color: #EA4A7F;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: .9rem 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: .85rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .15rem;
    font-weight: 600;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin-top: 100px !important;
}

.giveaway-btn:hover {
    color: #fff;
}


/* Vote */

#vote {
    background-color: #fffbf7;
    font-family: 'Philosopher', sans-serif;
}

#vote > .row > .col {
    padding: 6rem;
}

.vote-btn {
    background-color: #CAC4B4;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: .35rem 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: .75rem;
    text-transform: uppercase;
    color: #000;
}

.vote-btn:hover {
    color: #000;
}



/* Footer */

.footer {
    font-family: 'Philosopher', sans-serif !important;
    padding: .85rem 1rem;
    background-color: #E5E1DE;
}

.footer > .container {
    text-align: center;
}

.footer > .container > .text-muted {
    font-size: .85rem;
    line-height: 0;
}

.collapsing {
    transition: unset !important;
}

.winners-list {
    position: relative; 
    min-height: 400px; 
    margin-bottom: 10px;
}

#facial-treatments-container {
    min-height: 680px;
}

.float-left {
    position: absolute;
    left: 0;
}

.float-right {
    position: absolute;
    right: 0;
}

.cat-content {
    width: 700px;
    min-height: 400px;
    top: 0;
    text-align: center;
    padding: 40px 100px;
    z-index: 0;
}

.cat-content > h2 {
    font-size: 2.5rem;
    font-family: 'Philosopher', sans-serif;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}

.cat-content div h2 {
    font-size: 2.5rem;
    font-family: 'Philosopher', sans-serif;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}

.cat-content div h2:hover {
color: #f04084;
}

.cat-img {
    width: 500px;
    /* position: absolute; */
    top: 40px;
    z-index: 1;
}

.cat-img > img {
    width: 100%;
    height: auto;
}

.subcat-list > .row > .col-4 {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    /* word-wrap: break-word; */
}

.featured-brands-content > h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.featured-brand-slider {
    min-height: 300px;
}

.featured-brand-slider > .slick-list > .slick-track > .card {
    width: 250px;
    background-color: unset;
    border:0;
    border-radius:0;
    display:inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center !important;
}

.featured-brand-slider > .slick-list > .slick-track > .card > .card-img-top {
    width: 150px;
    height: auto;
    border-radius: 100px;
    margin: 0 auto;
}

.featured-brand-slider > .slick-list > .slick-track > .card > .card-body > .card-title {
    font-family: 'Philosopher', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.featured-brand-slider > .slick-list > .slick-track > .card > .card-body > p {
    font-family: 'Poppins', sans-serif !important;
    font-size: .75rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.featured-brand-slider > .slick-arrow {
    position: absolute;
    top: calc(300px - 60%);
    width: 15px;
    height: 30px;
    font-size: 2.5rem;
    cursor: pointer;
}

.featured-brand-slider > .prev-arrow {
    right: auto;
    left: -15px;
    z-index: 10;
}

.featured-brand-slider > .next-arrow {
    right: -15px;
    left: auto;
}

.slick-disabled {
    opacity: 0.3;
}

.featured-articles-content > h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

#featured-article > .row > .listItem {
    flex: 0 0 45%;
}

#featured-article > .row > .listItem > .card {
    border:0;
    background-color: unset;
    border-radius: 0;
}

#featured-article > .row > .listItem > .card > .row > .article-content > .card-body {
    text-align: center;
    min-height: 180px;
}

#featured-article > .row > .listItem > .card > .row > .article-content > .card-body > .catName {
    margin-bottom: 10px;
}

#featured-article > .row > .listItem > .card > .row > .article-content > .card-body > .card-title > a > .listTitle {
    font-size: 22px !important;
    line-height: 32px !important;
}

#featured-article > .row:nth-child(2) > .col {
    text-align: center;
}

.article-view-all-btn, .article-view-all-btn:hover {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: .5rem 2.8rem;
    text-transform: uppercase;
    background-color: #E5E1DE;
    color: #000;
}

.judges-content > h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

#judges {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.judges-slider > .slick-list > .slick-track > .card {
    background-color: unset;
    border: 0;
    border-radius: 0;
}

.judge-photo {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10rem;
}

.judge-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.35rem;
    letter-spacing: .05rem;
    margin-bottom: 30px;
}

.judge-bio > p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: .05rem;
}

.slick-dots {
    text-align: right;
}

.slick-dots li button:before {
    font-size: 16px;
    color: #76573E;
}

.slick-dots li.slick-active button:before {
    color: #76573E;
}

.search-keyword {
    text-transform: capitalize;
}

#search-result-header {
    background-image: url( 'https://uploads.dailyvanity.sg/wp-content/uploads/2021/07/giveaway-background.jpg' );
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 100px;
}

.list-item-card {
    position: relative;
    border: 0;
    min-height: 400px;
    background-color: unset;
}

.list-item-card .list-item-card-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 260px;
    background-image: url( 'https://uploads.dailyvanity.sg/wp-content/uploads/2021/08/judges_bg.jpg' );
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: -1;
}

.list-item-card .card-image {
    margin-bottom: 10px;
}

.list-item-card .card-body {
    padding-top: 0;
}

.list-item-card .list-item-content-top {
    min-height: 230px;
}

.list-item-card .list-item-content-bottom {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.list-item-card .award-list {
    list-style: none;
    padding-left: 0;
}

.list-item-card .award-list li {
    display: inline-block;
    font-family: 'Philosopher', sans-serif;
    font-size: .7rem;
    text-transform: uppercase;
    text-align: center;
    padding: .35rem 1rem;
    margin-bottom: 5px;
    letter-spacing: .05rem;
    margin-right: 10px;
}

.list-item-card .card-title {
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: .5rem 0;
    line-height: 1.3;
}

.list-item-card .list-item-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: .75rem;
    text-transform: uppercase;
    text-decoration: underline;
}

.load-more-result-btn {
    background-color: #CAC4B4;
    color: #000;
    border: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: .75rem;
    text-transform: uppercase;
    padding: .35rem 2.5rem;
}

.list-item-card .cta-btn {
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    font-size: .95rem;
    text-transform: uppercase;
    padding: .35rem 2.5rem;
    background-color: #fff;
    border: 1px solid #EA4A7F;
    color: #000;
}

.list-item-card .cta-btn:hover, .list-item-card .cta-btn:focus {
    background-color: #EA4A7F;
    border: 1px solid #EA4A7F;
    color: #fff;
}

.service-title {
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 7rem;
    margin-bottom: 1.5rem;
}

.service-award-list {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.service-award-list li {
    display: inline-block;
    font-family: 'Philosopher', sans-serif;
    font-size: .8rem;
    text-transform: uppercase;
    text-align: center;
    padding: .35rem 1rem;
    margin-bottom: 5px;
    letter-spacing: .05rem;
}

.service-award-list li:not(:first-child) {
    margin-left: 10px;
}

.service-category a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: .75rem;
    text-transform: uppercase;
    text-decoration: underline;
}

.service-content {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: .1rem;
}

.cta-form {
    margin-top: 5rem;
}

.category-list {
    margin-top: 6rem;
}

.category-list h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subcategory-list {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: .85rem;
    text-transform: uppercase;
    text-decoration: none;
}

#filterDropdown {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: .75rem;
    background-color: #CAC4B4;
    color: #000000;
    padding: .25rem 2.85rem;
    border:0;
    border-radius: 1.3rem;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

#filterDropdown::after {
    display:none;
}

.filter-dropdown-menu {
    width: 500px;
    top: 120%;
    right: 0 !important;
    left: auto !important;
    padding: 0 !important;
    border-radius: 0;
    border: 1px solid #999;
    background-color: #f8f8f8;
}

.filter-dropdown-menu .dropdown-menu-item {
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: .75rem;
    border: 1px solid #efefef;
}

.filter-dropdown-menu .dropdown-menu-item h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: .85rem;
    text-transform: uppercase;
    width: 100%;
    background-color: #CAC4B4;
    padding: .25rem 1rem;
}

.filter-dropdown-menu .dropdown-menu-item-list {
    position:relative;
    width: 100%;
    max-height: 150px;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.filter-dropdown-menu .dropdown-menu-item-list ul {
    list-style: none;
    padding-left: 0;
}

.filter-dropdown-menu .dropdown-menu-item-list ul li label {
    padding-top: 3px;
}

.apply-btn, .reset-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: .75rem;
    background-color: #CAC4B4;
    color: #000000;
    padding: .25rem 3rem;
    border:0;
    border-radius: 1.3rem;
    text-transform: uppercase;
}

.other-award-winenrs {
    text-transform: uppercase;
}

.view-all-categories-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: .75rem;
    background-color: #CAC4B4;
    color: #000000;
    padding: .25rem 2.85rem;
    border:0;
    border-radius: 1.3rem;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.view-all-categories-btn:hover {
    color: #000;
}

@media (max-width: 480px) {
    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }

    #top-bar {
        top: -5px !important;
        border-bottom: 0;
    }

    #top-bar > nav {
        /* background-color: unset !important; */
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #top-logo {
        width: 100%;
        padding-left: 0;
    }

    .navbar-inner {
        width: 100%;
        background-color: #fff;
        text-align: center;
    }

    .navbar-toggler {
        padding-left: 0 !important;
        padding-right: 0 !important;
        border:0;
    }

    .navbar-brand {
        width: 50%;
        padding-left: .6rem !important;
        padding-right: .5rem !important;
        padding-top: .5rem;
        padding-bottom: .6rem;
        margin-right: 8rem;
    }

    .navbar-collapse {
        width: 100%;
        height: 700px;
        background-color: #ededed;
        border-radius: 0;
        flex-basis: 30%;
        flex-grow: .5;
        margin-left: auto;
        padding: 4rem 1.5rem !important;
        position: absolute;
        top: 130px;
        left: auto;
        right: auto;
        z-index: 1;
    }

    .navbar-nav {
        margin: 0 auto;
        width: 310px;
    }

    .navbar-nav > .nav-item {
        text-align: center;
    }

    #winners-navbar-dropdown {
        display:none;
        padding-left: 0;
        margin-bottom: 10px;
        list-style-type: none;
    }

    #winners-navbar-dropdown > li {
        line-height: 1.7rem;
    }

    #winners-navbar-dropdown > li > a {
        font-family: 'Poppins',sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: .05rem;
    }

    #winners-navbar-dropdown > li > a:hover {
        text-decoration: underline;
    }

    #winners-dropdown-btn > .toggle-icon {
        position: relative;
    }

    #winners-dropdown-btn > .toggle-icon > .fas {
        position: absolute;
        top: 6px;
        left: 6px;
        font-size: 12px;
    }

    .social-media-nav {
        display: block !important;
        flex-direction: unset !important;
        margin-top: 20px;
    }

    .social-media-nav > .nav-item {
        /* display: inline !important; */
        float: left;
    }

    #intro > .row:not(:last-child) > .col {
        background-position: center bottom;
        background-size: cover;
        min-height: 250px;
        margin-top: 0;
    }

    #intro > .row:nth-child(2) > .col {
        padding-left: 0;
        padding-right: 0;
    }

    .dvsha-logo {
        top: -180px !important;
        margin-left: -125px !important;
        width: 250px !important;
        height: 250px !important;
    }

    .intro-text {
        margin-bottom: 50px;
    }

    .giveaway-title {
        margin-bottom: 2rem;
    }

    .giveaway-content > .prizes, .giveaway-content > .text {
        margin-bottom: 2rem;
    }

    .giveaway-content > .prizes {
        font-size: 1.1rem;
    }

    .giveaway-content > .text {
        font-size: 1rem;
    }

    .giveaway-content > .prizes > span {
        /* margin-bottom: 20px; */
        display: block;
    }

    .giveaway-content > .prizes > span > span::before {
        content: "\A";
        white-space: pre;
    }


    .winners-header {
        min-height: 200px;
        padding-top: 80px;
    }
    
    .winners-list {
        position: relative;
        min-height: 200px;
        margin-bottom: 10px;
    }

    .no-float {
        position:relative;
        overflow:hidden;
    }

    .cat-content {
        min-height: 200px;
        text-align: center;
        padding: 60px 20px;
        z-index: 0;
    }

    .cat-content > h2 {
        font-size: 2rem;
        font-family: 'Philosopher', sans-serif;
        text-transform: uppercase;
        line-height: 1;
    }

    .cat-content a, .cat-content a:hover {
        font-family: 'Poppins', sans-serif;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 14px;
    }

    .featured-articles-content > h2 {
        font-size: 2rem;
    }

    #featured-article {
        padding-left: 0;
        padding-right: 0;
    }

    #featured-article > .row > .listItem {
        flex: 0 0 46%;
    }

    .article-content > .card-body {
        padding-left: 0;
        padding-right: 0;
    }

    .listItem .catName {
        font-size: 12px;
    }

    #featured-article > .row > .listItem > .card > .row > .article-content > .card-body > .card-title {
        line-height: .95;
    }

    #featured-article > .row > .listItem > .card > .row > .article-content > .card-body > .card-title > a > .listTitle {
        font-size: 18px !important;
        line-height: unset !important;
    }

    .featured-brands-content > h2 {
        font-size: 2rem;
    }
    
    .featured-brand-slider > .slick-list > .slick-track > .card > .card-img-top {
        width: 180px;
    }

    .featured-brand-slider > .slick-list > .slick-track > .card > .card-body {
        padding: 1rem .85rem;
    }
    
    .featured-brand-slider > .slick-list > .slick-track > .card > .card-body > .card-title {
        font-size: 1.5rem;
    }
    
    .featured-brand-slider > .slick-list > .slick-track > .card > .card-body > p {
        font-size: .85rem;
    }
    
    .featured-brand-slider > .slick-arrow {
        top: calc(300px - 60%);
        font-size: 2.5rem;
    }
    
    .featured-brand-slider > .prev-arrow {
        right: auto;
        left: -15px;
    }
    
    .featured-brand-slider > .next-arrow {
        right: -15px;
        left: auto;
    }

    .judges-content > h2 {
        font-size: 2rem;
    }

    .judges-content > .container {
        padding-left: 0;
        padding-right: 0;
    }

    .judge-photo {
        width: 100px;
        height: 100px;
    }

    .judge-name {
        font-size: 1rem;
        letter-spacing: .05rem;
        margin-bottom: 30px;
    }

    .judge-bio {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .judge-bio > p {
        font-size: .8rem;
        letter-spacing: .05rem;
    }
    
    .slick-dots {
        text-align: right;
    }

    .list-item-card .award-list li {
        display: block;
        font-size: .85rem;
        padding: .35rem 1.3rem;
        margin-bottom: 5px;
        margin-right: 0;
    }

    #facial-treatments-container {
        min-height: unset;
    }

    #intro > .row:last-child > .col {
        min-height: 200px;
    }

    .category-list {
        margin-top: 4.5rem;
    }

    .category-list > div > div > .col {
        overflow: auto;
        height: 40px;
    }

    .category-list h2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .category-list .subcategory-list {
        white-space: nowrap;
        list-style-type: none;
        padding-left:0;
        margin-top: 8px;
    }
    
    .subcategory-list > li {
        display:inline;
        padding: 5px 15px;
        margin: 0 5px;
        border: 1px solid #CAC4B4;
    }

    #filter-container {
        padding-left: 0;
        padding-right: 0;
    }
    
    .filter-dropdown-menu {
        width: 100%;
        top: 130%;
        right: auto !important;
        left: auto !important;
    }
    
    .service-title {
        margin-top: 5rem;
    }
}

@media (max-width: 350px) {
    .navbar-brand {
        margin-right: 7rem;
    }
}

a {
    color: #444;
    text-decoration: none;
    background-color: transparent;
}

#single-product-container > .row:last-child {
    z-index: 999;
}

.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.winners-list:nth-child(2) .centered-element {
    width: 100%;
}