$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;

$bodyColour: #22201B;

.garamond-font {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

$dvPinkColor: #EA4A7F;