@import "../../node_modules/bootstrap/scss/bootstrap";
@import './variable.scss';
@import './NovalyMedia/NovalyMedia.scss';
@import './DvForBusiness/DvForBusiness.scss';
@import './IGstory/facesnap.css';
@import './FeaturedArticles/FeaturedArticles.css';
@import './Perks/Perks.css';
@import './TopHeaderBar/TopHeaderBar.css';
// @import '../../../dailyvanity-main/src/shortcodes/ScrollableList/scrollable-list.scss';
// @import '../../../dailyvanity-main/src/shortcodes/DVBAAwardsList/dvba_award_list.scss';
@import '../microsites/dvba/twenty_two/css/dvba.scss';


body {
  color: $bodyColour;
}

@media (min-width: 481px) {
  #body {
    padding-top: 270px !important;
  }
}

@media (max-width: 480px) {
  #body {
    padding-top: 40px !important;
  }
}
