#novaly_media_ads_wordpress {
  .itemContainer {
    max-width: 535px;

    .adsTitle {
      @extend .garamond-font;
      font-size: 22px;
      text-align: center;

      a {
        text-decoration: none;
        background: none !important;
        color: $bodyColour;
        font-weight: 500 !important;
        line-height: 1.5;
      }

      a:hover {
        color: $dvPinkColor;
      }
    }
  }

  .novalyMediaContainer {
    padding: 40px 0 !important;
    margin: 0 !important;
  }

  .card {
    border: 0 !important;
    border-radius: 0;

    .adsImage {
      border-radius: 0;
    }
  }

  .adsContainer::before {
    content: 'Recommendations';
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .1rem;
  }

  .adsContainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: unset;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    .row {
      justify-content: space-between;
      margin-top: 40px;
    }
  }

  @media (min-width: 768px) {
    .adsContainer {
      max-width:720px;
    }
   }
   @media (min-width: 992px) {
    .adsContainer {
      max-width:960px;
    }
   }
   @media (min-width: 1200px) {
    .adsContainer {
      max-width:1140px;
    }
   }
   
  .card-img-top {
    height: auto !important;
  }

  .card-body {
    min-height: 180px !important;
  }
}
